

<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="font-family: 'Fredoka One', cursive;
    ">
      Introduction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card text-center " color="primary" id="shadow">
      <img src="/assets/tudu.svg" alt="" />
      <ion-card-header>
        <ion-card-title style="font-family: 'Fredoka One', cursive;
        " >WELCOME</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p style="font-family: 'Open Sans', sans-serif;
        "
        >Tudu is an app where you can add,delete,update tasks for the day.When creating a task you can add Title,Description and the time you want to do it.</p>
      </ion-card-content>
    </ion-card>
    <div style="text-align: center;" class="p-5">
    <ion-button expand="round" size="large" (click)="redirectToTudu();" style="font-family: 'Open Sans', sans-serif;
    "

    >
      Add a task
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>
    
    <!-- <ion-list lines="none">
      <ion-list-header>
        <ion-label>Contact the Developer</ion-label>
      </ion-list-header>
      <ion-item href="https://www.facebook.com/vasil.madin1">
        <ion-icon slot="start" color="medium" name="logo-facebook"></ion-icon>
        <ion-label>Facebook</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="logo-instagram"></ion-icon>
        <ion-label>Intagram</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="md-mail"></ion-icon>
        <ion-label>waskomadin2@gmail.com</ion-label>
      </ion-item>
      <ion-item href="https://vasilmadin.netlify.com">
        <ion-icon slot="start" color="medium" name="md-globe"></ion-icon>
        <ion-label>Website</ion-label>
      </ion-item>
    </ion-list> -->
  
</ion-content>
