<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="font-family: 'Fredoka One', cursive;">
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="about-card" color="primary">
    <ion-card-header>
      <ion-card-title class="ion-text-center" style="font-family: 'Fredoka One', cursive;">This app was developed with Ionic 4</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="font-family: 'Open Sans', sans-serif;
      ">Ionic Framework is an open source UI toolkit for building performant, high-quality mobile and desktop apps using web technologies (HTML, CSS, and JavaScript).</p>
    </ion-card-content>
  </ion-card>

  <br>

    <ion-list lines="none" style="font-family: 'Open Sans', sans-serif;
    ">
      <ion-list-header>
        <ion-label >Contact the Developer</ion-label>
      </ion-list-header>
      <ion-item href="https://www.facebook.com/vasil.madin1">
        <ion-icon slot="start" color="dark" name="logo-facebook"></ion-icon>
        <ion-label style="font-family: 'Open Sans', sans-serif;">Facebook</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="dark" name="logo-instagram"></ion-icon>
        <ion-label style="font-family: 'Open Sans', sans-serif;">Intagram</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="dark" name="md-mail"></ion-icon>
        <ion-label style="font-family: 'Open Sans', sans-serif;">waskomadin2@gmail.com</ion-label>
      </ion-item>
      <ion-item href="https://vasilmadin.netlify.com">
        <ion-icon slot="start" color="dark" name="md-globe"></ion-icon>
        <ion-label style="font-family: 'Open Sans', sans-serif;">Website</ion-label>
      </ion-item>
    </ion-list> 
</ion-content>
